In [1]:
import pandas as pd
import numpy as np

In [2]:
A = np.random.random(100)
B = np.random.normal(size=100)
C = np.random.random(100)

In [3]:
df = pd.DataFrame(
    {'A': A, 'B': B, 'C': C}
)

In [5]:
df.head()

          A         B         C
0  0.979949  0.603017  0.558539
1  0.977933  2.443027  0.386921
2  0.052334  0.453396  0.761544
3  0.715134 -1.614152  0.722324
4  0.705585 -0.773980  0.400125

In [6]:
df.to_json("random_data.json", orient= "records")